@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Quicksand:wght@300..700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Montserrat', 'Quicksand', sans-serif;
    font-size: 18px;
}

a{
    text-decoration: none;
}